{% extends "user_profile/profile.html" %}

{% block profile %}

<div class="flex flex-col w-full h-screen bg-gray-50 mt-4 mx-2 rounded-lg align-items-center">
    <h1 class="text-3xl py-4 uppercase font-light">Change password</h1>

    <div class="px-5 space-y-5">
        <form method="post">

            <!-- Flash error message -->

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              {% for message in messages %}
              <span class="font-medium">Error!</span><p>{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}
          {% endwith %}

            <div class="flex flex-col w-64 rounded-lg gap-2">
                <label for="old_password">Current password:</label>
                <input type="password" id="old_password" name="old_password" class="rounded-md border-blue-100 border-1 hover:border-blue-500">
            </div>
            <div class="flex flex-col w-64 rounded-lg gap-2">
                <label for="password">New password:</label>
                <input type="password" id="password" name="password" class="rounded-md border-blue-100 border-1 hover:border-blue-500">
            </div>
            <div class="flex flex-col w-64 rounded-lg gap-2">
                <label for="password_confirm">New password again:</label>
                <input type="password" id="password_confirm" name="password_confirm" class="rounded-md border-blue-100 border-1 hover:border-blue-500">
            </div>
            <div class="flex justify-center py-3">
                <button type="submit" class="p-2 text-gray-50 bg-indigo-500 hover:bg-gray-50 hover:text-indigo-500 m-2 rounded-md border-1 hover:border-blue-500">Change password</button>
            </div>
        </form>
    </div>

</div>


{% endblock %}